.Appcontainer
{
  position:absolute;
  width:50%;
  height:90%;
  left:25%;
  top:5%;
  background-color: #5c53a3;
  border-radius:0.3em;
  box-shadow: 10px 10px 10px 10px #242424;
  padding-top:0.4em;
  transform: scale(0);
}